/* ----------------------------------------------Navbar -------------------------------------------------- */
.navbar {
  position:static;
  top: 0;
  z-index: 1000; /* Ensure it appears above other elements */
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  color: #003366 !important;
  font-size: 26px !important;
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) !important;
  transition: color 0.3s ease, text-shadow 0.3s ease !important;
  display: inline-block !important;
  padding: 7px !important;
}

.navbar-brand:hover {
  color: #ff5722 !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4) !important;
}

#checkbox2 {
    display: none;
}
  .toggle2 {
    position: relative;
    width: 35px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 5px;
    background-color: rgb(49, 100, 148);
    border-radius: 6px;
  }
  
  #bar5 {
    transition-duration: .8s;
  }
  
  #bar4,#bar6 {
    width: 80%;
  }
  
  #checkbox2:checked + .toggle2 .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 #bar5 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 #bar4 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 #bar6 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

  /* ----------------------------------------------Signup-------------------------------------------------- */
  .form{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
 
  .input-field {
    position: relative;
  }
  
  .input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
  }
  
  .input-field input {
    padding: 7px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
  }
  
  .input-field input:focus,
  .input-field input:valid {
    outline: none;
    border: solid 1px #112164;
  }
  
  .input-field input:focus ~ label,
  .input-field input:valid ~ label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #1E2A5E;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
  }
  
  .form .passicon {
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    top: 6px;
    right: 8px;
  }
 .showPasswordLogin ,.showPasswordSignup{
  position: absolute;
  bottom:27%;
  right:3%;
  cursor: pointer;

  
 }
/*----------------------------------Home---------------------------------------*/

.highlight-section {
  padding: 30px;
  background-color: #F5F5F5; 
  text-align: center;
  border-radius: 10px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  */
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}

.welcome-text {
  font-size: 2.2rem;
  color: #333;
}

.greeting {
  font-weight: normal;
}

.username {
  font-weight: bold;
  color: #1e88e5;
}

.job-info {
  font-size: 1.3rem;
}

.highlighted-info {
  font-weight: 500;
  color: #616161; 
}

.action-text {
  font-size: 1.6rem;
  color: #333;
}

.action-item {
  font-weight: bold;
  color: #26c6da;
}

.action-highlight {
  font-weight: bold;
  color: #d32f2f;
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background: linear-gradient(45deg, #d32f2f, #e57373);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.highlight-section {
  position: relative;
}

.searchbar-container {
  display: flex;
  justify-content: center;
}

.searchbar {
  position: relative;
  width: 90%;
  max-width: 600px; 
}

.search-input {
  width: 100%;
  padding: 7px 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 3px 3px 8px gray ;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: #aaa;
  padding:5px 13px;

  border-radius:0px 10px 10px 0px ;
}
.search-icon:hover {
  color: #007bff;
  cursor: pointer;
}
/*---------------------------carasyil-------------------------------*/
.carousel-container {
  width: 80%;
  margin: 0 auto;
}

.carousel-item {
  text-align: center;
  padding: 10px;
}

.carousel-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.carousel-item button:hover {
  background-color: #0056b3;
}

.slick-prev,
.slick-next {
  font-size: 35px;
  color: rgb(1, 1, 1);
  
} 
.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}


.jobcards {
  display: grid;
  gap: 20px;
}

@media (min-width: 992px) { 
  .jobcards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) { 
  .jobcards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) { 
  .jobcards {
    grid-template-columns: 1fr; 
  }
}
/*-------------------------------cards--------------------------------------*/

.jobcard-container {
  background-color:#fff ;
  padding:10px 10px 10px 10px;
  box-shadow: 5px 5px 7px gray;
  border-radius: 10px;
}

/*----------------------------------Loading effects--------------------------*/
.spin {
  display: inline-block;
  color: cyan;
  animation: spin 0.03s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------------------------------------------Button Styles---------------------------------------------*/

.BlueButton {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color:#fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.BlueButton:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.BlueButton:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}
